# Dependências (Obrigatório ignorar)
node_modules/
jspm_packages/

# Build do Electron e Binários finais
dist/
release/
*.exe
*.msi
*.dmg

# Logs e Cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.cache/

# Sistema e IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- ARQUIVOS DO JOGO (Não enviar para o GitHub) ---
# Ignoramos pastas que o Launcher cria ao baixar o client
/download/
/files_to_update/
/music/
/script/
/local/
/misc/

# Ignoramos extensões de dados do jogo
*.dll
*.ini
*.bat
*.lua
*.csv
*.zip
*.dat

# --- GARANTIR QUE O CÓDIGO FONTE SEJA ENVIADO ---
# Se o updater.js estiver numa pasta ignorada, estas linhas forçam a inclusão
!updater.js
!main.js
!package.json
!package-lock.json

# Ambiente
.env
